<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Control Room</title>
  </head>
  <body>
    <textarea id="control-log" cols="100" rows="20"></textarea><br />

    <input id="sync-previous" type="button" value="Previous" />
    <input id="sync-pause" type="button" value="Pause" />
    <input id="sync-play" type="button" value="Play" />
    <input id="sync-next" type="button" value="Next" />
  </body>
  <script>
    var roomName = '{{ room_name|escapejs }}';
    console.log(roomName);
    var chatSocket = new WebSocket(
      'ws://' + window.location.host + '/ws/spotcontrol/' + roomName + '/',
    );

    chatSocket.onmessage = function(e) {
      var data = JSON.parse(e.data);
      var control = data['control'];
      document.querySelector('#control-log').value += control + '\n';
    };

    chatSocket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#sync-previous').onclick = function(e) {
      console.log('PREV');
      chatSocket.send(
        JSON.stringify({
          control: 'PREVIOUS',
        }),
      );
    };
    document.querySelector('#sync-pause').onclick = function(e) {
      console.log('PAUSE');
      chatSocket.send(
        JSON.stringify({
          control: 'PAUSE',
        }),
      );
    };
    document.querySelector('#sync-play').onclick = function(e) {
      console.log('PLAY');
      chatSocket.send(
        JSON.stringify({
          control: 'PLAY',
        }),
      );
    };
    document.querySelector('#sync-next').onclick = function(e) {
      console.log('NEXT');
      chatSocket.send(
        JSON.stringify({
          control: 'NEXT',
        }),
      );
    };

    function rewind() {
      console.log('hello, world.');
    }
  </script>
</html>
