<!DOCTYPE html>
<html>
  <head>
    <title>crewSync</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <style>
      div.menu {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3em;
        background: #ccc;
      }
      div.menu a {
        margin: 1em;
      }
      div.menu ul.menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        margin: 1em;
      }
      ul.menu li {
        margin: 1em;
      }
    </style>
  </head>
  <body>
    <div class="menu">
      <a href="{% url 'home' %}">crewSync</a>
      <ul class="menu">
        {% if user.is_authenticated %}
        <li>You are logged in as {{user}}.</li>
        {% endif %} {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </div>
    <br />
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
