{% extends 'base.html' %} {% block content %}

<html>
  <body>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <a href="{% url 'signup' %}">Signup</a>
    <br />
    {% if user.is_authenticated %}
    <p>You are logged in as {{user}}.</p>
    {% if token == '0' %}
    <a href="{% url 'connect_spotify' %}">Connect your Spotify account.</a>
    {% else %}
    <a href="">Go to the controls.</a>
    <br />
    <a href="{% url 'refresh_spotify' %}">Refresh my token.</a>
    {% endif %} {% endif %}
  </body>
</html>

{% endblock %}
